.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Depositphotos_52035009_xl-2015.jpg"); background-position: 100% 50%}
.u-section-1 .u-sheet-1 {min-height: 971px}
.u-section-1 .u-layout-wrap-1 {width: 1026px; margin: 337px auto 60px}
.u-section-1 .u-layout-cell-1 {min-height: 206px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {font-size: 3rem; font-weight: normal; margin: 0}
.u-section-1 .u-layout-cell-2 {min-height: 44px}
.u-section-1 .u-container-layout-2 {padding-right: 7px; padding-top: 0; padding-left: 7px}
.u-section-1 .u-btn-1 {background-image: none; text-transform: uppercase; letter-spacing: 1px; font-size: 1rem; font-weight: 600; border-style: solid; margin: 0 0 0 auto; padding: 16px 36px}
.u-section-1 .u-layout-cell-3 {min-height: 44px}
.u-section-1 .u-container-layout-3 {padding: 0 7px}
.u-section-1 .u-btn-2 {text-transform: uppercase; letter-spacing: 1px; font-size: 1rem; font-weight: 600; border-style: solid; background-image: none; margin: 0 auto 0 0; padding: 16px 53px 16px 52px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 801px}
.u-section-1 .u-layout-wrap-1 {width: 940px}
.u-section-1 .u-layout-cell-1 {min-height: 321px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-layout-cell-3 {min-height: 100px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 614px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-layout-cell-1 {min-height: 100px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 805px}
.u-section-1 .u-layout-wrap-1 {width: 540px; margin-top: 60px; margin-left: auto; margin-right: auto}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {margin-top: 70px; font-size: 2.25}
.u-section-1 .u-btn-1 {margin-right: auto; padding-left: 55px; padding-right: 55px}
.u-section-1 .u-btn-2 {margin-left: auto; padding-right: 72px; padding-left: 71px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 763px}
.u-section-1 .u-layout-wrap-1 {width: 340px; margin: 40px 0 100px}
.u-section-1 .u-text-1 {margin-top: 0}
.u-section-1 .u-btn-2 {padding-right: 73px} }.u-section-2 {min-height: 918px; background-image: url("images/edfe0d34-85a2-334f-535a-16bb6c3310f4.jpg")}
.u-section-2 .u-group-1 {min-height: 274px; margin: 0 auto 0 0}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-layout-wrap-1 {width: 1140px; margin: -214px auto 60px}
.u-section-2 .u-layout-cell-1 {min-height: 574px; background-image: none}
.u-section-2 .u-container-layout-2 {padding: 40px 30px}
.u-section-2 .u-icon-1 {height: 64px; width: 64px; margin: 0 auto}
.u-section-2 .u-text-1 {font-weight: 400; font-size: 1.875rem; margin: 20px 0 0}
.u-section-2 .u-text-2 {font-style: italic; font-size: 1.125rem; margin: 20px 0 0}
.u-section-2 .u-layout-cell-2 {min-height: 574px}
.u-section-2 .u-container-layout-3 {padding: 40px 30px}
.u-section-2 .u-icon-2 {height: 64px; width: 64px; margin: 0 auto}
.u-section-2 .u-text-3 {font-size: 1.875rem; background-image: none; font-weight: normal; margin: 20px 0 0}
.u-section-2 .u-text-4 {font-style: italic; font-size: 1.125rem; margin: 20px 0 0}
.u-section-2 .u-layout-cell-3 {min-height: 574px}
.u-section-2 .u-container-layout-4 {padding: 40px 30px}
.u-section-2 .u-icon-3 {height: 64px; width: 64px; background-image: none; margin: 0 auto}
.u-section-2 .u-text-5 {font-weight: 400; font-size: 1.875rem; margin: 20px 0 0}
.u-section-2 .u-text-6 {font-style: italic; font-size: 1.125rem; margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-2 {min-height: 693px; background-position: 50% -8.15065vh}
.u-section-2 .u-group-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-wrap-1 {width: 940px}
.u-section-2 .u-layout-cell-1 {min-height: 473px}
.u-section-2 .u-layout-cell-2 {min-height: 473px}
.u-section-2 .u-layout-cell-3 {min-height: 473px} }

@media (max-width: 991px){ .u-section-2 {min-height: 467px}
.u-section-2 .u-layout-wrap-1 {width: 720px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-container-layout-2 {padding-top: 30px; padding-bottom: 30px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-container-layout-3 {padding-top: 30px; padding-bottom: 30px}
.u-section-2 .u-layout-cell-3 {min-height: 100px}
.u-section-2 .u-container-layout-4 {padding-top: 30px; padding-bottom: 30px} }

@media (max-width: 767px){ .u-section-2 {min-height: 567px}
.u-section-2 .u-group-1 {min-height: 210px; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-wrap-1 {width: 540px; margin-top: -150px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 {background-position: 50% -10vh}
.u-section-2 .u-group-1 {width: 440px; margin-left: 0; margin-right: 0}
.u-section-2 .u-layout-wrap-1 {width: 340px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 633px}
.u-section-3 .u-image-1 {width: 381px; min-height: 516px; background-image: url("images/gbf.png"); background-position: 50% 50%; margin: 59px auto 0 35px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-group-2 {width: 299px; min-height: 279px; margin: -305px 78px 0 auto}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-image-2 {width: 120px; height: 90px; margin: 65px auto}
.u-section-3 .u-group-3 {width: 450px; min-height: 145px; background-image: none; margin: -145px auto 0 93px}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-layout-wrap-1 {width: 903px; margin: -459px auto 0 119px}
.u-section-3 .u-layout-cell-1 {min-height: 419px; background-image: none}
.u-section-3 .u-container-layout-4 {padding: 30px}
.u-section-3 .u-text-1 {margin-top: 0; margin-bottom: 0; font-size: 2.25rem}
.u-section-3 .u-line-1 {width: 89px; height: 3px; transform-origin: left center; margin: 20px auto 0 0}
.u-section-3 .u-text-2 {margin-left: 0; margin-bottom: 0; margin-top: 30px; font-size: 1rem}
.u-section-3 .u-btn-1 {text-transform: uppercase; background-image: none; border-style: none; margin: 20px auto 0 0}
.u-section-3 .u-layout-cell-2 {min-height: 419px; background-image: none}
.u-section-3 .u-container-layout-5 {padding: 0}
.u-section-3 .u-image-3 {height: 508px; width: 508px; margin: -89px auto 0 0}
.u-section-3 .u-image-4 {width: 415px; height: 351px; margin: -510px auto 60px 790px} 

@media (max-width: 1199px){ .u-section-3 .u-group-3 {background-position: 50% 50%}
.u-section-3 .u-layout-wrap-1 {margin-left: 37px}
.u-section-3 .u-image-3 {height: 436px; width: 436px}
.u-section-3 .u-image-4 {margin-top: -535px; margin-left: 655px} }

@media (max-width: 991px){ .u-section-3 .u-layout-wrap-1 {width: 720px; margin-left: 0}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-text-1 {font-size: 1.875rem}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-image-3 {height: 372px; width: 372px}
.u-section-3 .u-image-4 {margin-top: -650px; margin-left: 446px} }

@media (max-width: 767px){ .u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-group-3 {margin-left: 90px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-wrap-1 {width: 540px}
.u-section-3 .u-layout-cell-1 {order: 1}
.u-section-3 .u-layout-cell-2 {order: 0}
.u-section-3 .u-image-4 {margin-top: -752px; margin-right: 20px; margin-left: auto} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 836px}
.u-section-3 .u-image-1 {width: 340px; margin-top: 110px; margin-left: 0}
.u-section-3 .u-group-2 {margin-right: 41px}
.u-section-3 .u-group-3 {width: 340px; margin-left: 0}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-image-3 {height: 340px; width: 340px}
.u-section-3 .u-image-4 {width: 340px; height: 288px; margin-top: -755px; margin-right: auto; margin-left: 111px} }.u-section-4 .u-sheet-1 {min-height: 320px}
.u-section-4 .u-layout-wrap-1 {width: 1140px; margin: 30px 0 20px}
.u-section-4 .u-layout-cell-1 {min-height: 270px; background-image: none}
.u-section-4 .u-container-layout-1 {padding-left: 30px}
.u-section-4 .u-icon-1 {height: 58px; width: 58px; margin: 39px auto 0 0}
.u-section-4 .u-text-1 {font-size: 1.875rem; font-weight: 400; margin: 31px 30px 0 0}
.u-section-4 .u-text-2 {margin: 30px 30px 1px 0}
.u-section-4 .u-layout-cell-2 {min-height: 270px; background-image: none}
.u-section-4 .u-container-layout-2 {padding-left: 30px}
.u-section-4 .u-icon-2 {height: 58px; width: 58px; margin: 39px auto 0 0}
.u-section-4 .u-text-3 {font-size: 1.875rem; font-weight: 400; margin: 31px 30px 0 0}
.u-section-4 .u-text-4 {margin: 30px 30px 1px 0}
.u-section-4 .u-layout-cell-3 {min-height: 270px; background-image: none}
.u-section-4 .u-container-layout-3 {padding-left: 30px}
.u-section-4 .u-icon-3 {height: 58px; width: 58px; margin: 39px auto 0 0}
.u-section-4 .u-text-5 {font-size: 1.875rem; font-weight: 400; margin: 31px 30px 0 0}
.u-section-4 .u-text-6 {margin: 30px 30px 1px 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 430px}
.u-section-4 .u-layout-wrap-1 {width: 940px}
.u-section-4 .u-layout-cell-1 {min-height: 223px}
.u-section-4 .u-text-1 {margin-right: 0}
.u-section-4 .u-text-2 {margin-right: 0}
.u-section-4 .u-layout-cell-2 {min-height: 223px}
.u-section-4 .u-text-3 {margin-right: 0}
.u-section-4 .u-text-4 {margin-right: 0}
.u-section-4 .u-layout-cell-3 {min-height: 223px}
.u-section-4 .u-text-5 {margin-right: 0}
.u-section-4 .u-text-6 {margin-right: 0} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 199px}
.u-section-4 .u-layout-wrap-1 {width: 720px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-layout-cell-3 {min-height: 100px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 299px}
.u-section-4 .u-layout-wrap-1 {width: 540px}
.u-section-4 .u-container-layout-1 {padding-left: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px}
.u-section-4 .u-container-layout-3 {padding-left: 10px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 13px}
.u-section-4 .u-layout-wrap-1 {width: 340px} }.u-section-5 .u-sheet-1 {min-height: 344px}
.u-section-5 .u-layout-wrap-1 {margin: 10px auto 20px 0}
.u-section-5 .u-layout-cell-1 {min-height: 288px; background-image: none}
.u-section-5 .u-container-layout-1 {padding-left: 30px}
.u-section-5 .u-text-1 {font-size: 1.875rem; font-weight: 400; margin: 30px 30px 0 0}
.u-section-5 .u-text-2 {margin: 30px 30px 0 0}
.u-section-5 .u-layout-cell-2 {min-height: 288px; background-image: none}
.u-section-5 .u-container-layout-2 {padding-left: 30px}
.u-section-5 .u-text-3 {font-size: 1.875rem; font-weight: 400; margin: 30px 29px 0 0}
.u-section-5 .u-text-4 {margin: 30px 30px 0 0}
.u-section-5 .u-layout-cell-3 {min-height: 288px; background-image: none}
.u-section-5 .u-container-layout-3 {padding-left: 30px}
.u-section-5 .u-text-5 {font-size: 1.875rem; font-weight: 400; margin: 30px 30px 0 0}
.u-section-5 .u-text-6 {margin: 30px 30px 0 0} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 430px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 237px}
.u-section-5 .u-text-1 {margin-right: 0}
.u-section-5 .u-text-2 {margin-right: 0}
.u-section-5 .u-layout-cell-2 {min-height: 237px}
.u-section-5 .u-text-3 {margin-right: 0}
.u-section-5 .u-text-4 {margin-right: 0}
.u-section-5 .u-layout-cell-3 {min-height: 237px}
.u-section-5 .u-text-5 {margin-right: 0}
.u-section-5 .u-text-6 {margin-right: 0} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 199px}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-layout-cell-3 {min-height: 100px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 299px}
.u-section-5 .u-container-layout-1 {padding-left: 10px}
.u-section-5 .u-container-layout-2 {padding-left: 10px}
.u-section-5 .u-container-layout-3 {padding-left: 10px} }.u-section-6 .u-sheet-1 {min-height: 214px}
.u-section-6 .u-layout-wrap-1 {margin: 10px auto 55px 0}
.u-section-6 .u-layout-cell-1 {min-height: 149px; background-image: none}
.u-section-6 .u-container-layout-1 {padding-left: 30px}
.u-section-6 .u-text-1 {font-size: 1.875rem; font-weight: 400; margin: 30px 30px 0 0}
.u-section-6 .u-text-2 {margin: 30px 30px 0 0}
.u-section-6 .u-layout-cell-2 {min-height: 149px; background-image: none}
.u-section-6 .u-container-layout-2 {padding-left: 30px}
.u-section-6 .u-text-3 {font-size: 1.875rem; font-weight: 400; margin: 30px 29px 0 0}
.u-section-6 .u-text-4 {margin: 30px 30px 0 0}
.u-section-6 .u-layout-cell-3 {min-height: 149px; background-image: none}
.u-section-6 .u-container-layout-3 {padding-left: 30px}
.u-section-6 .u-text-5 {font-size: 1.875rem; font-weight: 400; margin: 30px 30px 0 0}
.u-section-6 .u-text-6 {margin: 30px 30px 0 0} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 430px}
.u-section-6 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-1 {min-height: 123px}
.u-section-6 .u-text-1 {margin-right: 0}
.u-section-6 .u-text-2 {margin-right: 0}
.u-section-6 .u-layout-cell-2 {min-height: 123px}
.u-section-6 .u-text-3 {margin-right: 0}
.u-section-6 .u-text-4 {margin-right: 0}
.u-section-6 .u-layout-cell-3 {min-height: 123px}
.u-section-6 .u-text-5 {margin-right: 0}
.u-section-6 .u-text-6 {margin-right: 0} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 199px}
.u-section-6 .u-layout-cell-1 {min-height: 100px}
.u-section-6 .u-layout-cell-2 {min-height: 100px}
.u-section-6 .u-layout-cell-3 {min-height: 100px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 299px}
.u-section-6 .u-container-layout-1 {padding-left: 10px}
.u-section-6 .u-container-layout-2 {padding-left: 10px}
.u-section-6 .u-container-layout-3 {padding-left: 10px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 141px} }.u-section-7 {background-image: url("images/52e9d3424a5ba814f6da8c7dda2934761237d6ed5a4c704c7d2979d4904dc15c_1280.jpg")}
.u-section-7 .u-sheet-1 {min-height: 767px}
.u-section-7 .u-shape-1 {height: 562px; background-image: none; margin-top: 0; margin-bottom: 0; margin-left: 0}
.u-section-7 .u-layout-wrap-1 {width: 858px; margin: -562px auto 0}
.u-section-7 .u-image-1 {min-height: 836px; background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/ups5000.png"); background-position: 50% 50%}
.u-section-7 .u-layout-cell-2 {min-height: 836px}
.u-section-7 .u-container-layout-2 {padding: 30px 60px}
.u-section-7 .u-text-1 {font-size: 3rem; font-weight: 700; text-shadow: 0 -1px 7px rgba(51,51,51,0.8); margin: 0}
.u-section-7 .u-text-2 {font-size: 1.11111rem; font-style: normal; margin: 20px 0 0}
.u-section-7 .u-btn-1 {border-style: none; background-image: none; margin: 40px 323px 0 0} 

@media (max-width: 1199px){ .u-section-7 {min-height: 170px; background-position: 50% 10vh}
.u-section-7 .u-sheet-1 {min-height: 170px}
.u-section-7 .u-shape-1 {height: 526px; margin-left: initial}
.u-section-7 .u-layout-wrap-1 {margin-top: -526px}
.u-section-7 .u-image-1 {min-height: 518px}
.u-section-7 .u-layout-cell-2 {min-height: 518px}
.u-section-7 .u-btn-1 {margin-right: 216px} }

@media (max-width: 991px){ .u-section-7 .u-shape-1 {height: 500px; margin-top: 3px; margin-left: initial}
.u-section-7 .u-layout-wrap-1 {width: 720px; margin-top: -431px; margin-bottom: 2px}
.u-section-7 .u-image-1 {min-height: 397px}
.u-section-7 .u-layout-cell-2 {min-height: 100px}
.u-section-7 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-7 .u-btn-1 {margin-right: 159px} }

@media (max-width: 767px){ .u-section-7 {min-height: 200px}
.u-section-7 .u-sheet-1 {min-height: 200px}
.u-section-7 .u-shape-1 {height: 934px; margin-left: initial}
.u-section-7 .u-layout-wrap-1 {width: 510px; margin-top: -868px; margin-bottom: 49px; margin-left: calc((100% - 270px) + 15px)}
.u-section-7 .u-image-1 {min-height: 582px}
.u-section-7 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-7 {background-position: 50% -10vh; min-height: 126px}
.u-section-7 .u-sheet-1 {min-height: 1203px}
.u-section-7 .u-shape-1 {height: 187px; margin-top: 21px; margin-left: initial}
.u-section-7 .u-layout-wrap-1 {width: 340px; margin: 0 0 60px}
.u-section-7 .u-image-1 {min-height: 693px}
.u-section-7 .u-btn-1 {margin-right: auto} }.u-section-8 {background-image: linear-gradient(120deg, #eafdfc, #fef9e6)}
.u-section-8 .u-sheet-1 {min-height: 583px}
.u-section-8 .u-text-1 {width: 843px; font-weight: 500; font-size: 3rem; margin: 54px auto 0}
.u-section-8 .u-layout-wrap-1 {margin-top: 30px; margin-bottom: 65px}
.u-section-8 .u-layout-cell-1 {min-height: 405px; background-image: none}
.u-section-8 .u-container-layout-1 {padding: 30px}
.u-section-8 .u-text-2 {margin-left: 0; margin-bottom: 0; margin-top: 0}
.u-section-8 .u-text-3 {margin: 20px 0 0}
.u-section-8 .u-layout-cell-2 {min-height: 405px; background-image: none}
.u-section-8 .u-container-layout-2 {padding: 30px}
.u-section-8 .u-text-4 {margin: 0 auto 0 0}
.u-section-8 .u-text-5 {margin: 53px auto 10px 0} 

@media (max-width: 1199px){ .u-section-8 {min-height: 359px}
.u-section-8 .u-sheet-1 {min-height: 430px}
.u-section-8 .u-layout-cell-1 {min-height: 334px}
.u-section-8 .u-layout-cell-2 {min-height: 334px} }

@media (max-width: 991px){ .u-section-8 {min-height: 125px}
.u-section-8 .u-sheet-1 {min-height: 196px}
.u-section-8 .u-text-1 {width: 720px}
.u-section-8 .u-layout-cell-1 {min-height: 100px}
.u-section-8 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-8 {min-height: 225px}
.u-section-8 .u-sheet-1 {min-height: 296px}
.u-section-8 .u-text-1 {width: 540px; font-size: 1.5}
.u-section-8 .u-layout-wrap-1 {margin-bottom: 60px}
.u-section-8 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-8 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 12px}
.u-section-8 .u-text-1 {width: 340px} }.u-section-9 {background-image: url("images/57e8d34b4e5baa14f6da8c7dda2934761237d6ed5a4c704c7d2979d49245c450_1280.jpg"); background-position: 50% 50%}
.u-section-9 .u-sheet-1 {min-height: 390px}
.u-section-9 .u-layout-wrap-1 {margin: 0}
.u-section-9 .u-image-1 {min-height: 400px; background-image: url("images/2020-04-07_014109.jpg"); background-position: 35.38% 54.32%; background-size: auto 145%}
.u-section-9 .u-container-layout-1 {padding: 30px 60px}
.u-section-9 .u-layout-cell-2 {min-height: 400px; background-image: none}
.u-section-9 .u-container-layout-2 {padding: 30px}
.u-section-9 .u-text-1 {margin: 0}
.u-section-9 .u-text-2 {margin: 20px 0 0}
.u-section-9 .u-btn-1 {background-image: none; border-style: none; margin: 30px 0 0} 

@media (max-width: 1199px){ .u-section-9 .u-sheet-1 {min-height: 30px}
.u-section-9 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-9 .u-image-1 {min-height: 330px}
.u-section-9 .u-layout-cell-2 {min-height: 330px} }

@media (max-width: 991px){ .u-section-9 .u-image-1 {min-height: 253px}
.u-section-9 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-9 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-9 .u-sheet-1 {min-height: 162px}
.u-section-9 .u-image-1 {min-height: 380px}
.u-section-9 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-9 .u-sheet-1 {min-height: 56px}
.u-section-9 .u-image-1 {min-height: 239px} }.u-section-10 {background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/Depositphotos_149753678_xl-2015.jpg")}
.u-section-10 .u-sheet-1 {min-height: 632px}
.u-section-10 .u-layout-wrap-1 {width: 1140px; margin: 60px 0}
.u-section-10 .u-layout-cell-1 {min-height: 516px}
.u-section-10 .u-container-layout-1 {padding: 30px}
.u-section-10 .u-text-1 {font-size: 3rem; margin: 21px 0 0}
.u-section-10 .u-text-2 {text-transform: none; font-size: 2.25rem; margin: 20px 0 0}
.u-section-10 .u-text-3 {margin: 40px 0 0}
.u-section-10 .u-layout-cell-2 {min-height: 516px}
.u-section-10 .u-container-layout-2 {padding: 30px}
.u-section-10 .u-text-4 {font-size: 3rem; margin: 21px 20px 0 0}
.u-section-10 .u-text-5 {text-transform: none; font-size: 2.25rem; margin: 20px 20px 0 0}
.u-section-10 .u-text-6 {margin: 40px 20px 0 0}
.u-section-10 .u-layout-cell-3 {min-height: 516px}
.u-section-10 .u-container-layout-3 {padding: 30px}
.u-section-10 .u-text-7 {font-size: 3rem; margin: 21px 0 0}
.u-section-10 .u-text-8 {text-transform: none; font-size: 2.25rem; margin: 20px 0 0}
.u-section-10 .u-text-9 {margin: 40px 0 0}
.u-section-10 .u-layout-cell-4 {min-height: 516px}
.u-section-10 .u-container-layout-4 {padding: 30px}
.u-section-10 .u-text-10 {font-size: 3rem; margin: 22px 2px 0 0}
.u-section-10 .u-text-11 {text-transform: none; font-size: 2.25rem; margin: 20px 2px 0 0}
.u-section-10 .u-text-12 {margin: 40px 2px 0 0} 

@media (max-width: 1199px){ .u-section-10 {background-position: 50% 10vh}
.u-section-10 .u-sheet-1 {min-height: 521px}
.u-section-10 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-10 .u-layout-cell-1 {min-height: 543px}
.u-section-10 .u-text-2 {font-size: 2.0625rem}
.u-section-10 .u-layout-cell-2 {min-height: 543px}
.u-section-10 .u-text-4 {margin-right: 0}
.u-section-10 .u-text-5 {font-size: 2.0625rem; margin-right: 0}
.u-section-10 .u-text-6 {margin-right: 0}
.u-section-10 .u-layout-cell-3 {min-height: 543px}
.u-section-10 .u-text-7 {height: 76px}
.u-section-10 .u-text-8 {font-size: 2.0625rem; height: 156px}
.u-section-10 .u-text-9 {height: 25px}
.u-section-10 .u-layout-cell-4 {min-height: NaNpx}
.u-section-10 .u-text-10 {margin-right: 0}
.u-section-10 .u-text-11 {margin-right: 0}
.u-section-10 .u-text-12 {margin-right: 0} }

@media (max-width: 991px){ .u-section-10 .u-sheet-1 {min-height: 399px}
.u-section-10 .u-layout-cell-1 {min-height: 100px}
.u-section-10 .u-layout-cell-2 {min-height: 100px}
.u-section-10 .u-layout-cell-3 {min-height: 100px}
.u-section-10 .u-layout-cell-4 {min-height: 100px} }

@media (max-width: 767px){ .u-section-10 .u-sheet-1 {min-height: 299px}
.u-section-10 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-text-11 {font-size: 1.5} }

@media (max-width: 575px){ .u-section-10 {background-position: 50% 2.48322vh}
.u-section-10 .u-sheet-1 {min-height: 188px} }.u-section-11 {background-image: none}
.u-section-11 .u-sheet-1 {min-height: 632px}
.u-section-11 .u-layout-wrap-1 {width: 1140px; margin: 60px 0}
.u-section-11 .u-layout-cell-1 {min-height: 516px}
.u-section-11 .u-container-layout-1 {padding: 30px}
.u-section-11 .u-text-1 {font-size: 3rem; margin: 21px 0 0}
.u-section-11 .u-text-2 {text-transform: none; font-size: 2.25rem; margin: 20px 0 0}
.u-section-11 .u-text-3 {margin: 40px 0 0}
.u-section-11 .u-layout-cell-2 {min-height: 516px}
.u-section-11 .u-container-layout-2 {padding: 30px}
.u-section-11 .u-text-4 {font-size: 3rem; margin: 21px 20px 0 0}
.u-section-11 .u-text-5 {text-transform: none; font-size: 2.25rem; margin: 20px 20px 0 0}
.u-section-11 .u-text-6 {background-image: none; margin: 40px 20px 0 0}
.u-section-11 .u-layout-cell-3 {min-height: 516px}
.u-section-11 .u-container-layout-3 {padding: 30px}
.u-section-11 .u-text-7 {font-size: 3rem; margin: 21px 0 0}
.u-section-11 .u-text-8 {text-transform: none; font-size: 2.25rem; margin: 20px 0 0}
.u-section-11 .u-text-9 {margin: 40px 0 0} 

@media (max-width: 1199px){ .u-section-11 .u-sheet-1 {min-height: 521px}
.u-section-11 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-11 .u-layout-cell-1 {min-height: 543px}
.u-section-11 .u-text-2 {font-size: 2.0625rem}
.u-section-11 .u-layout-cell-2 {min-height: 543px}
.u-section-11 .u-text-4 {margin-right: 0}
.u-section-11 .u-text-5 {font-size: 2.0625rem; margin-right: 0}
.u-section-11 .u-text-6 {margin-right: 0}
.u-section-11 .u-layout-cell-3 {min-height: 543px}
.u-section-11 .u-text-7 {height: 76px}
.u-section-11 .u-text-8 {font-size: 2.0625rem; height: 156px}
.u-section-11 .u-text-9 {height: 25px} }

@media (max-width: 991px){ .u-section-11 .u-sheet-1 {min-height: 399px}
.u-section-11 .u-layout-cell-1 {min-height: 100px}
.u-section-11 .u-layout-cell-2 {min-height: 100px}
.u-section-11 .u-layout-cell-3 {min-height: 100px} }

@media (max-width: 767px){ .u-section-11 .u-sheet-1 {min-height: 299px} }

@media (max-width: 575px){ .u-section-11 .u-sheet-1 {min-height: 188px} }.u-section-12 {background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/Depositphotos_78338724_xl-2015.jpg")}
.u-section-12 .u-sheet-1 {min-height: 1017px}
.u-section-12 .u-layout-wrap-1 {margin: 24px auto 0 0}
.u-section-12 .u-layout-cell-1 {min-height: 532px}
.u-section-12 .u-image-1 {height: 532px; object-position: 50% 0%; background-position: 50% 0%; margin: 0 auto 0 0}
.u-section-12 .u-layout-cell-2 {min-height: 532px}
.u-section-12 .u-container-layout-2 {padding: 30px 20px}
.u-section-12 .u-text-1 {text-transform: uppercase; letter-spacing: 3px; font-weight: 700; margin: 84px 20px 0 0}
.u-section-12 .u-text-2 {font-size: 3.75rem; font-family: Candal; font-weight: 400; margin: 20px 0 0}
.u-section-12 .u-text-3 {font-style: italic; margin: 20px 20px 0 0}
.u-section-12 .u-layout-wrap-2 {margin: 0 auto 60px 0}
.u-section-12 .u-layout-cell-3 {min-height: 489px}
.u-section-12 .u-container-layout-3 {padding: 30px 20px}
.u-section-12 .u-icon-1 {height: 80px; width: 80px; background-image: none; margin: 0 auto}
.u-section-12 .u-text-4 {text-transform: uppercase; font-weight: 300; font-size: 2.25rem; margin: 30px 2px 0}
.u-section-12 .u-text-5 {font-style: italic; margin: 20px 2px 0}
.u-section-12 .u-btn-1 {background-image: none; border-style: none; text-transform: uppercase; letter-spacing: 1px; margin: 20px auto 0}
.u-section-12 .u-layout-cell-4 {min-height: 489px}
.u-section-12 .u-container-layout-4 {padding: 30px 20px}
.u-section-12 .u-icon-2 {height: 80px; width: 80px; background-image: none; margin: 0 auto}
.u-section-12 .u-text-6 {text-transform: uppercase; font-weight: 300; font-size: 2.25rem; margin: 30px 2px 0}
.u-section-12 .u-text-7 {font-style: italic; margin: 20px 2px 0}
.u-section-12 .u-btn-2 {margin-left: auto; margin-right: auto; background-image: none; border-style: none; text-transform: uppercase; letter-spacing: 1px; margin-top: 20px} 

@media (max-width: 1199px){ .u-section-12 {background-position: 50% 50%}
.u-section-12 .u-sheet-1 {min-height: 854px}
.u-section-12 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-12 .u-layout-cell-1 {min-height: 439px}
.u-section-12 .u-image-1 {width: 446px; left: 0; right: auto; margin-top: initial; margin-bottom: initial; height: auto; margin-right: auto; margin-left: 0}
.u-section-12 .u-layout-cell-2 {min-height: 439px}
.u-section-12 .u-text-1 {position: relative; margin-right: 0}
.u-section-12 .u-text-2 {font-size: 3rem}
.u-section-12 .u-text-3 {position: relative; margin-right: 0}
.u-section-12 .u-layout-wrap-2 {margin-right: initial; margin-left: initial}
.u-section-12 .u-layout-cell-3 {min-height: 403px}
.u-section-12 .u-text-4 {margin-left: 0; margin-right: 0}
.u-section-12 .u-text-5 {margin-left: 0; margin-right: 0}
.u-section-12 .u-layout-cell-4 {min-height: 403px}
.u-section-12 .u-text-6 {margin-left: 0; margin-right: 0}
.u-section-12 .u-text-7 {margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-12 .u-sheet-1 {min-height: 284px}
.u-section-12 .u-layout-cell-1 {min-height: 100px}
.u-section-12 .u-image-1 {width: 336px; height: auto; margin-top: initial; margin-bottom: initial}
.u-section-12 .u-layout-cell-2 {min-height: 100px}
.u-section-12 .u-text-2 {font-size: 2.25rem}
.u-section-12 .u-layout-cell-3 {min-height: 100px}
.u-section-12 .u-layout-cell-4 {min-height: 100px} }

@media (max-width: 767px){ .u-section-12 .u-sheet-1 {min-height: 484px}
.u-section-12 .u-layout-cell-1 {order: 1}
.u-section-12 .u-image-1 {width: 502px; height: auto; margin-top: initial; margin-bottom: initial}
.u-section-12 .u-layout-cell-2 {order: 0}
.u-section-12 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-12 .u-text-2 {font-size: 3.75rem}
.u-section-12 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-12 .u-container-layout-4 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 575px){ .u-section-12 {background-position: 50% 10vh}
.u-section-12 .u-sheet-1 {min-height: 297px}
.u-section-12 .u-image-1 {width: 310px; height: auto; margin-top: initial; margin-bottom: initial}
.u-section-12 .u-text-2 {font-size: 2.25rem} }.u-section-13 {background-image: none}
.u-section-13 .u-sheet-1 {min-height: 684px}
.u-section-13 .u-layout-wrap-1 {margin: 60px auto 60px 0}
.u-section-13 .u-layout-cell-1 {min-height: 600px}
.u-section-13 .u-container-layout-1 {padding: 30px}
.u-section-13 .u-layout-cell-2 {min-height: 149px}
.u-section-13 .u-container-layout-2 {padding: 30px 30px 10px}
.u-section-13 .u-text-1 {margin: 0}
.u-section-13 .u-text-2 {margin: 20px 0 0}
.u-section-13 .u-text-3 {margin: 20px 0 0}
.u-section-13 .u-text-4 {margin: 20px 0 0}
.u-section-13 .u-layout-cell-3 {min-height: 451px; background-image: none}
.u-section-13 .u-container-layout-3 {padding: 10px 20px 30px}
.u-section-13 .u-form-1 {height: 484px; width: 340px; margin: 0}
.u-section-13 .u-form-group-2 {margin-left: auto; margin-right: auto}
.u-section-13 .u-form-group-3 {margin-left: auto; margin-right: auto}
.u-section-13 .u-form-group-5 {margin-left: auto; margin-right: auto}
.u-section-13 .u-btn-1 {background-image: none; border-style: none}
.u-section-13 .u-image-1 {min-height: 600px; background-image: url("images/pexelsphoto712786.jpg"); background-position: 50% 50%}
.u-section-13 .u-container-layout-4 {padding: 30px} 

@media (max-width: 1199px){ .u-section-13 .u-sheet-1 {min-height: 380px}
.u-section-13 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-13 .u-layout-cell-1 {min-height: 495px}
.u-section-13 .u-layout-cell-2 {min-height: 123px}
.u-section-13 .u-layout-cell-3 {min-height: 372px}
.u-section-13 .u-form-1 {width: 273px}
.u-section-13 .u-image-1 {min-height: 495px} }

@media (max-width: 991px){ .u-section-13 .u-sheet-1 {min-height: 1445px}
.u-section-13 .u-layout-cell-1 {min-height: 569px}
.u-section-13 .u-layout-cell-2 {min-height: 100px}
.u-section-13 .u-layout-cell-3 {min-height: 100px}
.u-section-13 .u-image-1 {min-height: 1137px} }

@media (max-width: 767px){ .u-section-13 .u-layout-cell-1 {min-height: 854px}
.u-section-13 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-13 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-13 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-13 .u-image-1 {min-height: 853px}
.u-section-13 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-13 .u-layout-cell-1 {min-height: 538px}
.u-section-13 .u-image-1 {min-height: 537px} }